.preset-manager {
  .select {
    display: inline-block;
  }

  input {
    background: transparent;
    outline: none;
    border: 0;
    color: #797979;
    font-family: 'Ubuntu Mono', monospace;
    border-bottom: 1px dotted;
  }
}
