<header class="module primary-header">
  <h1>{{title}}</h1>
  <input type="range" [(ngModel)]="gain.value" step="0.1" min="0" max="1">
  <a href="#" class="btn" (click)="play()"><i class="fa" [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"></i></a>
  <a href="#" class="btn" (click)="infoModalIsOpen = true"><i class="fa fa-info"></i></a>
</header>

<section class="module secondary-module pattern-manager">
  <div>
    <a href="#" title="Add new channel" class="btn" (click)="addChannel()">Add channel</a>
    <a href="#" title="Reset" class="btn" (click)="reset()"><i class="fa fa-recycle"></i></a>
  </div>

  <app-preset-manager
    [presets]="presetsList"
    (onAdd)="addPreset($event)"
    (onSave)="savePreset($event)"
    (onChange)="changePreset($event)">
  </app-preset-manager>
</section>

<section class="module">
  <ul *ngFor="let seq of channels; let i = index">
    <app-seq
      [pattern]="seq"
      [activeStep]="activeStep"
      [currentBar]="currentBar"
      (onSelect)="setActiveStep($event, i)">
    </app-seq>
  </ul>
</section>

<section class="module secondary-module step-settings">
  <div>
    Channel: <em>{{activeStep.channel}}</em>, Step: <em>{{activeStep.id}}</em>
  </div>
  <a href="#" title="Copy step" class="btn" (click)="copyStep()"><i class="fa fa-clone"></i></a>
  <a href="#" title="Paste step" class="btn" (click)="pasteStep()"><i class="fa fa-crop"></i></a>
</section>

<section class="module no-padding">
  <app-step-options [samples]="samples" [step]="activeStep" [isLoading]="isLoadingSamples"></app-step-options>
</section>

<div class="info-modal" *ngIf="infoModalIsOpen" (click)="infoModalIsOpen = false">
  <div class="info-modal-content">
    <div class="info-modal-header">
      <h3>Help</h3>
    </div>
    <div class="info-modal-body">
      {{this.title}} is a sample-based step-sequencer.
    </div>
  </div>
</div>
