@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "assets/sass/main";

.bpm {
  max-width: 37px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  height: 28px;
  margin-top: 1px;
  background: transparent;
  color: #cacaca;
  border: 1px solid #797979;

  &:focus {
    outline: none;
    border-color: rgba(42, 209, 210, 0.46);
  }
}

.bpm-label {
  padding: 7px 7px 0 0px;
}


