.sample-select {
  overflow: hidden;
  color: #747474;

  h3 {
    margin: 0;
  }
}

.sample-select .col {
  width: 50%;
  float: left;
}

.sample-select ul {
  height: 250px;
  overflow: scroll;
  padding: 2px;
}

.sample-select li {
  cursor: pointer;
  padding: .2em;
}

.sample-select li:hover {
  background: #282828;
}

.sample-select header {
  display: flex;
  padding: 6px;

  h3 {
    flex: 1;
  }
}
