.seq {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  list-style: none;
  padding: 0;

  li {
    width: 46px;
    height: 36px;
    margin: 0 1px;

    a {
      display: block;
      width: 100%;
      background: #3e3e3e;

      &:first-child {
        margin-bottom: 1px;
      }

      &.edit {
        background: #3e3e3e;
        height: 20%;
      }

      &.switch {
        background: #3e3e3e;
        height: 80%;
      }
    }

    &.on a.switch {
      background: #cbcb65;
    }
  }
}




.seq li.active a.edit {
  background: #20c08a;
}

.seq li.current {
  opacity: .6;
}

.seq li.options {
  display: none;
}
