<div class="info-modal" *ngIf="isOpen" (click)="closeModal()">
  <div class="info-modal-content">
    <div class="info-modal-header">
      <h3>Help</h3>
    </div>
    <div class="info-modal-body">
      {{title}} is a sample-based step-sequencer.

      <img src="/assets/info.png">

      <h3>Keyboard shortcuts</h3>
      <ul>
        <li><em>spacebar</em> - play / pause</li>
        <li><em>c</em> - copy active step</li>
        <li><em>v</em> - paste active step</li>
      </ul>
      <div>
    </div>
  </div>
</div>
