* {
  box-sizing: border-box;
}

body {
  color: $light-grey;
  background: $black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: $primary-color;
}

em {
  color: $secondary-color;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
